{{#if logged_in}}
{{#each users}}
<div class="card profile">
    <div class="card-content">

        <div>
            <h3><a href="./profile/{{users.id}}">{{first_name}} {{last_name}}</a></h3>
                    <div class="users-title">
                        <h4>{{title}}</h4>
                    </div>   
                    <div class="users-img">
                         <img src="{{img}}">
                    </div>
                
                </div>
            <div>
        </div>
{{/each}}
{{else}}
<a href='/login'> Log in to view users.  </a> 
{{/if}}