{{!-- {{#if logged_in}}
{{#each users as |user| }}
<div class="card profile">
    <div class="card-content">
        <div>
            <h3><a href="/profile/{{this.id}}">{{user.first_name}} {{last_name}}</a></h3>
            <div class="user-title">
                <h4>{{title}}</h4>
            </div>
            <div class="user-img">
                <img src="{{img}}">
            </div>
        </div>
    </div>
</div>

{{/each}}
{{else}}
<a href='/login'> Log in to view users. </a>
{{/if}} --}}