{{#if logged_in}}
           {{!--  {{#each userPosts as |post| }} --}}
            <div class="card profile">
                <div class="card-content">
                    Users List
    {{!--                 <div>
                        <h3><a href="./dashboard/{{post.id}}">{{post.title}}</a></h3>
                        <div class="has-text-right">
                            <h4 class="has-text-weight-semibold">Posted on {{formDate post.createdAt}}</h4>
                        </div>
                        <div class="user-img">
                            <img src="{{userData.img}}">
                        </div>
                    <div class="user-name">
                        <h3>{{userData.first_name}} {{userData.last_name}}</h3>
                    </div>
                    <div class="user-title">
                        <h4>{{userData.title}}</h4>
                    </div>
                    <div class="user-location">
                        <h5>{{userData.location}}</h5>
                    </div>
                    </div>
                    <div>
                        <p>{{post.contents}}</p>
                    </div> --}}
                </div>
            </div>
           {{!--  {{/each}} --}}
{{else}}
<a href='/login'> Log in to view users.  </a> 
{{/if}}